.darkOverlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.container {
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 80%;
  background-color: var(--clr-white);
}

.innerContainer {
  border-top: var(--clr-gray) 1px solid;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fullTimeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  color: var(--clr-text);
}

.innerContainer button {
  width: 100%;
}

.inputIcon {
  color: var(--clr-violet);
  padding-left: 1rem;
}

.locationInput {
  padding: 1rem 0;
}

@media only screen and (min-device-width: 568px) {
  .darkOverlay,
  .container {
    display: none;
  }
}
